.main_header{
    width: 100vw;
    height: calc(100vh -3rem);
    display: grid;
    place-items: center;
    margin-top: 7rem;
}
.main_header_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;
}
.main_header-left{
    margin-top: -3rem;
}
.main_header-left h4{
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: 400;
}
.main_header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}
.main_header_right{
    display: grid;
    place-items: center;
    position: relative;
}
.main_header_circle{
    margin-top: 1rem;
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg , var(--color-secondary) , transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
    
}
.main_header_img{
    position: relative;
}
.main_header_right:hover  .main_header_circle{
    filter: blur(15px);
}